{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
<style>
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
</style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            {% if reviews %}
            {% for review in reviews %}
            <tr>
                <td>{{ review.user.username }}</td>
                <td>{{ review.review }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="2">No review available on this product.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>